@model MVC.Scratch.Models.ChangePasswordViewModel
<form class="form-horizontal" action='' method="POST">
    @Html.AntiForgeryToken()
    <fieldset>
        <div id="legend">
            <legend class="">Change Password</legend>
        </div>

        @*Form Validation*@
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })

        <div class="control-group">
            <!-- OldPassword-->
            <label class="control-label" for="OldPassword">Old Password</label>
            <div class="controls">
                <input type="password" id="OldPassword" name="OldPassword" placeholder="" class="input-xlarge">
                @*Field Validation for Password*@
                @Html.ValidationMessageFor(m => m.OldPassword, "", new {@class = "text-danger"})
            </div>
        </div>

        <div class="control-group">
            <!-- NewPassword-->
            <label class="control-label" for="NewPassword">New Password</label>
            <div class="controls">
                <input type="password" id="NewPassword" name="NewPassword" placeholder="" class="input-xlarge">
                @*Field Validation for Password*@
                @Html.ValidationMessageFor(m => m.NewPassword, "", new {@class = "text-danger"})
            </div>
        </div>

        <div class="control-group">
            <!-- ConfirmPassword-->
            <label class="control-label" for="ConfirmPassword">Confirm Password</label>
            <div class="controls">
                <input type="password" id="ConfirmPassword" name="ConfirmPassword" placeholder="" class="input-xlarge">
                @*Field Validation for Password*@
                @Html.ValidationMessageFor(m => m.ConfirmPassword, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="control-group">
            <!-- Button -->
            <div class="controls">
                <input type="submit" class="btn btn-info" value="ChangePassword" onclick="location.href = '@Url.Action("ChangePassword", "Account")'" />
            </div>
        </div>
    </fieldset>
</form>